:root {
  --primary-white-color: #ffffff;
  --active-color: #2196f3;
  --dominant-text-color: #757575;
  --logo-link-color: #000000;
  --main-dark-color: #212121;
  --bgc-grayish: #f5f4fa;
  --dark-bgc: #2f303a;
  --color-mail-phone: rgba(255, 255, 255, 0.6);
  --color-border-portfolio: #eeeeee;
  --color-border-header: #ececec;

  --portfolio-item-gap: 30px;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* ---Common Styles--- */

body {
  font-family: 'Roboto', sans-serif;
  color: var(--dominant-text-color);
  background-color: var(--primary-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header,
.work,
.features {
  background-color: var(--primary-white-color);
}

.link {
  text-decoration: none;
}

.link-logo {
  text-decoration: none;
}

.logo.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  color: var(--primary-white-color);
}

.link:hover,
.link:focus {
  color: var(--active-color);
}

.list {
  list-style: none;
}

.hidden-title {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* ---Header--- */
.header {
  border-bottom: 1px solid var(--color-border-header);
}

.header-panel {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--logo-link-color);
}

.logo-highlight {
  color: var(--active-color);
}

.navigation-list.list {
  display: flex;
}

.navigation-list .item + .item {
  margin-left: 50px;
}

.navigation-list .link {
  display: block;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-dark-color);
}

.navigation-list .link:hover,
.navigation-list .link:focus {
  color: var(--active-color);
}

.link.current {
  color: var(--active-color);
}

.header-contacts-list {
  display: flex;
  margin-left: auto;
}

.header-contacts-list .link {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-contacts-list .item + .item {
  margin-left: 50px;
}

.mail,
.phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dominant-text-color);
}
/* ---Header end--- */

/* ---button--- */
.button {
  display: inline-block;
  padding: 6px 22px;

  border-radius: 4px;
  border-color: transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  background-color: var(--bgc-grayish);
  color: var(--main-dark-color);
}

.button:hover,
.button:focus {
  background-color: var(--active-color);
  color: var(--primary-white-color);
  cursor: pointer;
}

.button-primary {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;

  border-radius: 4px;
  border-color: transparent;
  align-items: center;
  text-align: center;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background-color: var(--active-color);
}
.button-primary:focus,
.button-primary:hover {
  cursor: pointer;
}
/* ---button end--- */

/* ----Footer---- */

.footer {
  padding: 60px 0;
  background-color: var(--dark-bgc);
}

.address-list-location {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-item:not(:last-child) {
  margin-bottom: 10px;
}

.map {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
}

.footer-mail,
.footer-phone {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--color-mail-phone);
}
/* ---Footer end--- */

/* -------------------- Common Styles End -------------------- */

/* -------------------- Index -------------------- */
.hero {
  padding: 200px 0;
  background-color: var(--dark-bgc);
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  white-space: pre;

  color: var(--primary-white-color);
}

.work {
  padding-bottom: 94px;
}

.features,
.team,
.portfolio {
  padding: 94px 0;
}

.features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features-item {
  flex-basis: calc((100% - 90px) / 4);
}

.features-list .title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-dark-color);
}

.features-list .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--dominant-text-color);
}

.team {
  background: var(--bgc-grayish);
}

.team-description {
  padding: 30px 32px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-item {
  width: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
}

.work-item:nth-child(3n) {
  margin-right: 0;
}

.work-title,
.team-title {
  margin-bottom: 50px;
  text-align: center;

  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--main-dark-color);
}

.team-list .title {
  margin-bottom: 10px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--main-dark-color);
}

.list-item {
  flex-basis: calc((100% - 3 * 30px) / 4);
  margin-right: 30px;
  text-align: center;

  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--card-shadow);

  background-color: var(--primary-white-color);
}

.list-item:nth-child(4n) {
  margin-right: 0;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-list .text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--dominant-text-color);
}

/* -------------------- Index end -------------------- */

/* -------------------- Portfolio -------------------- */

/* Main */

.portfolio .portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-dark-color);
}

.portfolio-list .text {
  color: var(--dominant-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item + .filter-item {
  margin-left: 8px;
}

.portfolio-list.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--portfolio-item-gap));
  margin-top: calc(-1 * var(--portfolio-item-gap));
}

.portfolio-item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: var(--portfolio-item-gap);
  margin-top: var(--portfolio-item-gap);

  background-color: var(--primary-white-color);
}

.portfolio-description {
  padding: 20px 24px;
  border-right: 1px solid var(--color-border-portfolio);
  border-left: 1px solid var(--color-border-portfolio);
  border-bottom: 1px solid var(--color-border-portfolio);
}
/* -------------------- Portfolio end -------------------- */
